body {
    color: white;
    background-color:black;
    background-image: url("../images/background.webp")
}
h1 {
    font-size:20px;
    border-style: dotted;
}
p { 
    font-size:12px;
    background-color: lightgoldenrodyellow;
    border-style: solid;
    border-color: white;
    border-radius: 100px;
 }
 div p { color: lightgray; }
 .MyDiv {
    border: dotted; 
 }
 div {
    border-radius: 2px;
    width: 100px;
    height: 100px;

 }
